html
	head
		title=bot.username
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		style.
			.table > tbody > tr > td {
				vertical-align: middle
			}
	body
		.container
			h1 #{bot.username}##{bot.discriminator} is #{bot.presenceStatus}.
				.pull-right: a.btn.btn-danger(href="/logout") Log Out
			h4 Logged in as #{user.username}
			h3 Members of PlaySquad:
			table.table.table-bordered
				thead: tr
					td Name
					td ID
					td
				tbody: for member in members
					tr(class={warning: member.roles.indexOf(roles.admin)>=0 || member.roles.indexOf(roles.mod)>=0})
						td=member.username
						td=member.id
						td: .btn-group
							if member.roles.indexOf(roles.approved)<0
								a(href="/assign/"+member.id+"/approved").btn.btn-success Approve
							else
								a(href="/unassign/"+member.id+"/approved").btn.btn-success Unapprove
								if member.roles.indexOf(roles.mod)>=0
									a(href="/unassign/"+member.id+"/mod").btn.btn-warning Demod
								else if member.roles.indexOf(roles.admin)>=0
									a(href="/unassign/"+member.id+"/admin").btn.btn-danger Deadmin
								else
									a(href="/assign/"+member.id+"/mod").btn.btn-warning Mod
									a(href="/assign/"+member.id+"/admin").btn.btn-danger Admin